/* TOOLBAR */
.mat-toolbar.mat-primary {
  background: #303761;
  color: #fff;
}

/* BUTTON */
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #303761;
}

.padding {
  padding: 10px;
}

.center {
  text-align: center;
}

.margin {
  margin: 10px;
}

.item-menu {
  padding: 10px;
}

.master {
  background-color: #f2f2f2;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.mat-list-option:focus, .mat-list-option:hover, .mat-nav-list .mat-list-item:focus, .mat-nav-list .mat-list-item:hover {
  background: rgba(0,0,0,.04);
  width: 100% !important;
  z-index: 100000;
  border-radius: 0px 24px 24px 0px !important;
}
